<header class="h-16 flex items-center justify-end">
  <span id="sidebar-toggle" class="text-gray-400 hover:text-white" data-controller="sidebar" data-action="click->sidebar#toggle touch->sidebar#toggle">
    <i class="fa-solid fa-bars w-6 h-6 transition"></i>
  </span>
</header>
